body{
    height: 100vh;
    background: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    width: 80%;
    background: green;
    width: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    
}
#hhg{
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
}
#hhs{
    background-color: beige;
    border-radius: 4px;
    border: none;
    width: 100%;
    background-color: aquamarine;
    display: block;
    
}
